body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}



.cardBackground{
  width: 100%;

}


.taskBackgroundRed{
  background-color: red;
}

.taskBackgroundYellow{
  background-color: yellow;
}

.taskBackgroundWhite{
  background-color: white;
}



/* .addTaskModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: pink;
} */